<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCCxi8Tl4lTkqP2xk28-PI95mfkaNQt2g</string>
	<key>GCM_SENDER_ID</key>
	<string>1062262915077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shieldTalk</string>
	<key>PROJECT_ID</key>
	<string>shieldtalk-909ba</string>
	<key>STORAGE_BUCKET</key>
	<string>shieldtalk-909ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062262915077:ios:94bc551b310744d0e5dc6c</string>
	<key>DATABASE_URL</key>
	<string>https://shieldtalk-909ba-default-rtdb.firebaseio.com</string>
</dict>
</plist>